@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

.title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: black;
}

.modal_title {
  font-size: 12px;
  color: black;
  text-align: left;
}